.btn {
    font-size: 1.6rem;
    padding: 2.3rem 3.7rem;
    border-radius: 6rem;
    color: white;
    background: $c-one;
    background: linear-gradient(180deg, #005495 0%, #003863 100%);
    background-size: 1px 10rem;
    display: inline-block;
    text-decoration: none;
    transition: $transition;
    &__small {
        padding: 1.2rem 3.7rem;
    }
    &:hover {
        background-position-y: -3rem;
    }
    &__second {
        background: inherit;
        border: 1px solid $c-one;
        color: $c-one;
        box-sizing: border-box;
        &:hover {
            background: $c-one;
            color: white;
        }
    }
}

.link {
    color: $c-one;
    font-style: italic;
    font-size: 1.8rem;
    line-height: 2.3rem;
    position: relative;
    text-decoration: none;
    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        background: $c-one;
        top: 100%;
    }
}