.container {
    box-sizing: border-box;
    padding: 0 3rem;
    width: 100%;
    max-width: 126rem;
    margin: 0 auto;
    font-family: $f-one;
}

html {
    color: $c-three;
}

main {
    margin-top: 19.1rem;
}

.box-shadow {
    box-shadow: $shadow1;
}

img {
    max-width: 100%;
    height: auto;
}
.row {
    display: flex;
}
.aligncenter {
    text-align: center;
}

img.aligncenter {
    display: block;
    margin: .5rem auto;
}