.header {
    position: relative;
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
        &::before {
            @include breakpoint(phablet) {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                display: block;
                background: rgba(255,255,255,.6);
                width: 100%;
                height: 100%;
            }
        }
    }
   &__text {
       padding: 10rem 0 21rem 60%;
       position: relative;
       z-index: 2;
       @include breakpoint(tablet) {
           padding: 5rem 3rem 5rem 50%;
       }
       @include breakpoint(phablet) {
           padding: 4rem 2rem;
       }
       h1 {
           color: $c-one;
           margin-bottom: 2rem;
       }
    }
    &__arrow {
        margin: 3rem 0;
        img {
            transform: translateX(-100%);
        }
    }
    &__small {
        .header__text {
            padding: 12.4rem 0;
            font-size: 5.5rem;
            color: $c-one;
            margin-bottom: 0;
        }
    }
}