.section {
    position: relative;
    padding: $p2;
    &__text {
        max-width: 55%;
        margin-left: 45%;
        position: relative;
        z-index: 2;
        @include breakpoint(tablet) {
            max-width: 100%;
            margin-left: 0;
        }
        .btn {
            margin-top: 4rem;
        }
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}